/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  #root {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styles */
  .form-wrapper {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-wrapper {
    display: flex;
  }
  
  button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button#submit {
    background-color: #007bff;
    color: #fff;
  }
  
  button#reset {
    background-color: #dc3545;
    color: #fff;
  }
  
  /* Image wrapper styles */
  .img-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 200px;
    margin: 10px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  